@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 500 800 850 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}
.custom-background {
  position: relative; /* Confine overlay to this container */
  /* Other styles... */
}

.custom-background .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1; /* Ensure this is not higher than other interactive elements */
}

.custom-background h1 {
  position: relative;
  z-index: 2; /* Above the overlay */
}
body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 500;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}

b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}

h1 {
  font-variation-settings: 'wght' 850;
  font-size: 2.25rem;
}

h2 {
  font-variation-settings: 'wght' 750;
  font-size: 1.5rem;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

/* Standard CSS - Apply hover effect to specific elements */
a:hover,
.prose a:hover,
.nav-line .nav-link:hover {
  /* Change color to gray on hover */
  transition: color 0.3s ease;
  text-decoration: underline;
  /* Smooth transition for color change */
}

pre {
  background: #1f2028;
  @apply !px-0 rounded-lg;
}

code {
  @apply !text-sm md:!text-base !leading-loose md:!leading-loose overflow-auto ml-3 my-2;
}

p > code {
  background: rgba(200, 200, 255, 0.1);
  @apply !px-1 rounded-sm ml-0 my-0;
}

p > a {
  @apply !text-blue-700;
}

pre > code {
  @apply grid;
  counter-reset: line;
}

.prose {
  @apply max-w-[55rem] md:text-lg md:text-xl !leading-7 md:!leading-9;
}

[data-line] {
  @apply border-l-2 border-l-transparent px-6;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply bg-zinc-600/50 rounded;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id='v'] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id='s'] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id='i'] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}
